#write_frame {
    display              : grid;
    grid-template-rows   : auto auto;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas  : "write_details write_ingredients write_steps"". . write_ui";
    position             : relative;
    min-height           : 100%;
}

#write_frame textarea {
    width     : 100%;
    height    : 60vh;
    box-sizing: border-box;
}

#write_frame_details {
    grid-area: write_details;
    padding  : .75em;
}

#write_frame_ingredients {
    grid-area : write_ingredients;
    padding   : .75em;
    width     : 100%;
    height    : 100%;
    box-sizing: border-box;
    display   : inline-block;
    position  : relative;
}

#write_frame_steps {
    grid-area : write_steps;
    padding   : .75em;
    width     : 100%;
    height    : 100%;
    box-sizing: border-box;
    position  : relative;
}

#write_frame_ui {
    grid-area : write_ui;
    text-align: right;
}

#write_preview_outer {
    position        : relative;
    margin-top      : 2em;
    width           : 100%;
    height          : 0;
    padding-bottom  : 100%;
    background-color: var(--color_milktea);
}

#write_preview {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

#write_evaluation {
    width     : 100%;
    margin-top: 1em;
}

@media (max-width: 599px) {
    #write_frame {
        grid-template-rows   : auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas  : "write_details""write_ingredients""write_steps""write_ui";
        min-height           : 100%;
    }
}